<div class="card shadow-lg mt-5">
    <div class="card-header text-center py-4 border-0">
        <h1 class="display-6 fw-bold">Shopping List</h1>
    </div>
    <div class="card-body p-4">
        <ul class="list-group">
            <li class="list-group-item mb-2 border py-0 rounded-3">
                <div class="input-group">
                    <input type="text" class="form-control border-0 py-3 shadow-none"
                        (keydown.enter)="onClick(itemInput)" placeholder="Shopping item" #itemInput>
                    <button class="btn text-success border-0" (click)="onClick(itemInput)">
                        <i class="fa-solid fa-circle-plus fa-xl"></i>
                    </button>
                </div>
            </li>
            <li class="list-group-item mb-2 border py-3 rounded-3" *ngFor="let item of shoppingItems">
                <span>
                    <i class="text-success" (click)="onStatusChange(item.id, !item.isDone)"
                        [ngClass]="item.isDone?'fa-solid fa-circle-check':'fa-regular fa-circle'"></i>
                    {{item.item}}
                    <span class="float-end text-secondary">
                        <i class="fa-solid fa-trash-can" (click)="onDelete(item.id)"></i>
                    </span>
                </span>
            </li>
        </ul>
        <div class="card-header text-center py-0 border-0">
            <button class="btn text-center py-0 border-0 bg-dark">
                <h3 class="text-white" (click)="logOut()">Sign out</h3>
            </button>
        </div>
    </div>
</div>